:root {
  --e-global-color-d446c73: #F5E9D4; /* Định nghĩa biến màu */
}

.father-container{
    height: 800px;
    background-image: url('../src/assets/Images/fullscreen-slider.jpg');
    background-size: cover;
}

.background-cover{
  /* background: rgba(245, 233, 212, 0.5); */
  height: 150px; 
  backdrop-filter: blur(3px) rgba(245, 233, 212, 0.5);
}

.navigation{
  display: flex;
  padding: 20px 180px 0px 180px ;
  align-items: center;
  justify-content: space-between;
}

.menu{
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.mini-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-menu a{
  padding: 15px 22px 15px 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 2px solid transparent;
  font-weight: 500;
  cursor: pointer;
}

.dropdown a.active{
  border: 2px solid;
  text-decoration: none;
  color: #303030;
  border-radius: 4px;
}

.mini-menu-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-menu-2 a{
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.mini-menu-2{
  color:#303030;
  cursor: default;
}

.login{
  color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login:hover{
  color:rgb(218, 133, 61);
}

.faUser{
  border: 2px solid;
  border-radius: 3px;
  padding: 10px;
}

.mini-menu-2 a:hover{
  color: rgb(218, 133, 61);
}

.mini-menu-3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-menu-3 a{
  padding: 10px;
  font-size: 12px;
}

.cart{
  color: #303030;
  cursor: pointer;
}

.cart:hover{
  color: rgb(218, 133, 61);
}

.search-form{
  display: flex;
  justify-content: center;
}

.search{
  display: flex;
  padding: 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  height: auto;
  box-shadow: none;
  line-height: normal;
  text-align: left;
  text-decoration: none;
  width: 400px;
}

.search-icon{
  background-color: #838c48;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M19.7,6.3c-7.4,0-13.3,6-13.3,13.3c0,7.4,6,13.3,13.3,13.3c3.7,0,7-1.5,9.4-3.9c2.4-2.4,3.9-5.7,3.9-9.4 C33,12.3,27,6.3,19.7,6.3z M1,19.7C1,9.4,9.4,1,19.7,1C30,1,38.3,9.4,38.3,19.7c0,4.2-1.4,8.1-3.7,11.2l13.6,13.6c1,1,1,2.7,0,3.8 c-1,1-2.7,1-3.8,0L30.8,34.6c-3.1,2.3-7,3.7-11.2,3.7C9.4,38.3,1,30,1,19.7z'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: 20px 22px;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease; 
}

.search-icon:hover{
  background-color: #303030;
}

.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
}

.search-container h1{
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.view-courses{
  display: flex;
  gap: 10px;
}

.view-courses a{
  color: #838c48;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

.view-courses a:hover{
  color:#303030;
}

.vector-24{
  fill: #838c48;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.view-courses:hover .vector-24{
  fill:#303030;
}

.view-courses:hover a {
  color: #303030;
}

.container-header{
  padding: 100px 200px 100px 200px;
}

.number-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.number-row-1{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.div-number{
  font-size: 50px;
  font-weight: 800;
  color: #303030;
  font-family: 'Raleway', sans-serif;
  vertical-align: baseline;
}

.span-number{
  font-size: 20px;
  font-weight: 600;
  color: #303030;
  vertical-align: baseline;
}

.fk-line{
  background-color: #838c48;
  width: 130px;
  height: 3px;
  border: 0;
}


.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown a{
  text-decoration: none;
  color: #303030;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdf6ea;
  box-shadow: 0 5px 5px 0 #e2d6c1;
  min-width: 150px;
  z-index: 10;
  border: 1px solid #e2d6c1;
  padding: 15px;
  border-top: 3px solid #e2d6c1;
  top: 70px;
  transition: all 0.2s ease-in;
  border-radius: 0 0 3px 3px;
}

.drop-down-icon{
  display: none;
  position: absolute;
  top: 43px;
  left: 36px;
  
}

.dropdown-content a {
  color: #303030;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  border-radius: 3px; 
  font-family: 'Raleway', sans-serif;
  font-family: 400;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f5e9d4;
  color: #303030;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content-blog{
  display: block;
}

.dropdown:hover .dropdown-content-gallery{
  display: block;
}

.dropdown:hover .drop-down-icon{
  display: block;
}

.dropdown a.active {
  text-decoration: none;
}

.mini-menu a#courses {
  color: inherit; 
  text-decoration: none; 
}

.mini-menu a#pages {
  color: inherit; 
  text-decoration: none; 
}

.mini-menu a#home {
  color: inherit; 
  text-decoration: none; 
}

.mini-menu a#blog{
  color: inherit; 
  text-decoration: none; 
}

.mini-menu a#gallery {
  color: inherit; 
  text-decoration: none; 
}

.mini-menu a#shop {
  color: inherit; 
  text-decoration: none; 
}

.mini-menu a#contact {
  color: inherit; 
  text-decoration: none; 
}

.drop-down-blog-top{
  display: flex;
  gap: 126px;
  text-align: left;
}

.dropdown-content-blog{
  display: none;
  position: absolute;
  background-color: #fdf6ea;
  box-shadow: 0 5px 5px 0 #e2d6c1;
  z-index: 10;
  border: 1px solid #e2d6c1;
  padding: 30px;
  border-top: 3px solid #e2d6c1;
  top: 70px;
  transition: all 0.2s ease-in;
  border-radius: 0 0 3px 3px;
  margin-left: -460px;
}

.blog-column-1{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.column-1-title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #303030;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.column-1-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.drop-down-blog-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.drop-down-blog-bottom{
  padding-top: 20px;
}

.fk-line-12{
  height: 3px;
  width: 40px;
  background-color: rgb(218, 133, 61);
}

.drop-down-blog-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #303030;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.dropdown-content-gallery{
  display: none;
  position: absolute;
  background-color: #fdf6ea;
  box-shadow: 0 5px 5px 0 #e2d6c1;
  z-index: 10;
  border: 1px solid #e2d6c1;
  padding: 30px;
  border-top: 3px solid #e2d6c1;
  top: 70px;
  width: 970px;
  transition: all 0.2s ease-in;
  border-radius: 0 0 3px 3px;
  margin-left: -570px;
}

.column-input-name{
  font-size: 14px;
  padding: 20px 30px 13px 30px;
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  font-family: 'Open Sans',sans-serif;
}

.column-input-message{
  padding: 20px 30px 130px 30px;
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  font-family: 'Open Sans',sans-serif;
}

.column-input-button{
  font-size: 14px;
  padding: 15px 5px 15px 5px;
  background-color: #838c48;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 120px;
}