.symbols-4{
  padding: 5px 130px 5px 130px;
  background: #fdf6ea;
}

.small-symbols-4{
  display: flex;
  justify-content: space-between;
  padding: 70px;
  align-items: center;
  
}

.sti-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.sti-text{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #303030;
  cursor: pointer;
}

.sti-text:hover{
  color:#838c48;
}

.sti-img{
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  align-items: center;
  background: #f5e9d4;
  border-radius: 50%;
}

.symbol-icon{
  height: 80px;
  width: 80px;
  fill: #da853d;
}

.courses-top{
  display: flex;
  justify-content: space-between
}

.courses-top-left{
  display: flex;
  flex-direction: column;
}

.courses-top-left h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.fk-line-2{
  background-color: #838c48;
  width: 45px;
  height: 3px;
  border: 0;
  align-items: left;
}

.courses-top-right{
  display: flex;
  gap: 10px;
  align-items: center;
}

.prev{
  border: 2px solid #303030;
  color: #303030;
  display: inline-flex;
  line-height: normal;
  font-size: 0;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.prev:hover{
  background-color: #838c48;
}

.next{
  border: 2px solid #303030;
  color: #303030;
  display: inline-flex;
  line-height: normal;
  font-size: 0;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
}

.next:hover{
  background-color: #838c48;
}

.vector7{
  font-size: 14px;
  text-align: center;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.courses-body{
  padding-top: 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.about-courses{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5px;
}

.about-courses h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #303030;
}

.about-courses p{
  color: #69727d;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
}

.about-courses a{
  color: #303030;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0.7em 1.5em;
  justify-content: center;
  text-align: center;
  border: 2px solid;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
  font-family: "Open-Sans", sans-serif;
  font-weight: bold;
  border-radius: 3px;
  align-items: center;
  height: 25px;
  width: 140px;
}

.about-courses a:hover{
  background-color:#838c48;
  color: #fff;
}

.img-courses {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.swiper-img{
  width: 370px;
  height: 240px;
}

.img-card{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.free{
  color: #da853d;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.power{
  font-size: 21px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.container-edu-curri{
  display: flex;
  gap: 10px;
  color: #808080;
  line-height: 1.72;
}

.fk-line-3{
  background-color: #303030;
  width: 370px;
  height: 2px;
  border: 0;
}

.time{
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.stars-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

many-many-stuffs{
  display: flex;
}

.many-many-texts{
  color: #808080;
}

.courses-bottom{
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}

.lms-banner{
  height: 200px;
}

.blog{
  padding: 80px 0px 80px 0px;
}

.blog-title-container{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.blog-title{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #303030;
}

.fk-line-4{
  background-color: #838c48;
  width: 42px;
  height: 4px;
  border: 0;
}

.blog-holder{
  padding-top: 80px;
  display: flex;
  gap: 40px;  
  width: 200px;
}

.small-blog-holder{
  padding-top: 20px;
  display: flex;
  gap: 15px;
}

.grid-container{
  text-align: center;
  color: #303030;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  border-radius: 3px 3px 0px 0px;
  height: 100px;
  border: 2px solid #201c1d;
  font-size: 16px;
  padding: 12px 0px 5px;
  width: 70px;
  font-weight: 500;
  font-family: sans-serif;
}

.entry-format{
  border-top: 2px solid;
  position: unset;
}

.ico-format{
  padding-top: 15px;
  font-size: 25px;
  color: #838c48;
  cursor: pointer;
}

.ico-format:hover{
  color: #da853d;
}

.text-blog-holder{
  text-align: left;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text-blog-holder a{
  color: #303030;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}


.entry-meta-group{
  display: flex;
  gap: 10px;
  color: #808080;
  font-size: 14px;
  font-weight: normal;
}

.entry-tags{
  display: flex;
  gap: 5px;
}

.entry-meta-group a{
  color: #808080;
  font-size: 14px;
  font-weight: normal;
  flex-wrap: wrap;
  cursor: pointer;
}

.entry-meta-group a:hover{
  color: #da853d;
}

.elementer-section{
  background-image: url('../src/assets/Images/parallax-light.jpg');
  padding-top: 50px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  width: 100%; 
  height: 40vh;
}

.vector{
  height: 30px;
  width: 30px;
}

.elementer-container{
  padding: 50px 200px 0px 200px;
  justify-content: space-between;
  display: flex;
  text-align: center;
}

.elementer-img-container-1{
  background: #f2672e;
  width: 90px;
  height: 90px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.elementer-img-container-2{
  background: #0171bb;
  width: 90px;
  height: 90px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.elementer-img-container-3{
  background: #9FBF3A;
  width: 90px;
  height: 90px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.elementer-img-container-4{
  background: #2b8bc0;
  width: 90px;
  height: 90px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.elementer-img-container-5{
  background: #e5a329;
  width: 90px;
  height: 90px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.elementer-img-container-6{
  background: #d10101;
  width: 90px;
  height: 90px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.elementer-small-container h5{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: #303030;
  cursor:default;
}


.elementer-small-container h5:hover{
  color:#da853d
}


.event{
  padding: 10px 130px 0px 130px;
  height: 351.19px;
  background: #fdf6ea;
}

.fk-line-5{
  background: #838c48;
  width: 42px;
  height: 4px;
  border: 0;
  display: block;
}

.event-container{
  padding-top: 70px;
}

.text-event-container{
  font-family: 'Raleway', sans-serif;
  color: #303030;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upcoming-event{
  justify-content: space-between;
  display: flex;
}

.top-left-event{
  display: flex;
  gap: 10px;
}

.vector5{
  width: 20px;
  height: 20px;
}

.left-arrow-event{
  border: 2px solid #303030;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:not-allowed;
}

.left-arrow-event:hover{
  background-color: #838c48;
  border: #fff;
}

.right-arrow-event{
    border: 2px solid #303030;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:not-allowed;
}

.right-arrow-event:hover{
  background-color: #838c48;
  border: #fff;
}

.welcome-batch{
    display: flex;
    padding-top: 40px;
    gap: 40px;
}

.event-img{
  width: 180px;
  height: 120px;
}

.welcome-batch a{
  font-size: 20px;
  color: #303030;
  font-family: 'Raleway', sans-serif;
}

.text-welcome-batch{
  display: flex;
  flex-direction: column;
}

.text-welcome-batch a{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color:#303030;
  cursor: pointer;
}

.text-welcome-batch a:hover{
  color: #838c48;
}


.small-text-welcome{
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
  color: #808080;
  font-weight: 400;
}

.small-text-welcome span{
  display: block;
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
  color: #808080;
  font-weight: 400;
}

.text-welcome-batch div{
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
  color: #808080;
  font-weight: 400;
}

.email-sub{
  background-color: #da853d;
  height: 424.95px;
}

.email-sub-background{
  background-image: url(https://dtlmselementor.wpengine.com/wp-content/uploads/2023/11/newsletter-parallax.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.email-sub-container{
  padding: 120px 250px 80px 250px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #FFFFFF;
  font-family: sans-serif;
  align-items: center;
}

.email-sub-container span{
  font-size: 30px;
}

.email-sub-container div{
  font-size: 14px;
}

.form{
  display: flex;
  border-radius: 50px;
  border: 0;
}

.email-id{
  padding: 20px 180px 20px 20px;
  font-size: 1em;
  line-height: 1;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  background: #ffffff;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
}

.sub-button{
  background: #838c48;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #838c48;
  padding: .75em 1.5em;
  cursor: pointer;
}

.sub-button:hover{
  background-color: #303030;
}

.sub-button span{
  font-family: 'Open-Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.process{
  background: #fdf6ea;
  height: 1055.4px;
  padding-bottom: 50px;
}

.process-container{
  padding: 80px 180px 80px 180px;
}

.process-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.process-title span{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: #303030;
}

.step-1{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.step-1-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
  padding-top: 80px;
}

.step-1-left h5{
  color: #DA853D;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0;
}

.step-1-left-text-search{
  font-size: 20px;
  color: #54595F;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5e9d4;
}

.vector23{
  width: 32px;
  height: 32px;
}

.step-1-search{
  display: flex;
  gap: 20px;
}

.step-1-ball{
  content: "";
  width: 20px;
  height: 20px;
  border: 6px solid #f5e9d4;
  border-radius: 50%;
  background: #da853d;
}

.step-1-bar{
  width: 10px;
  height: 55px;
  border-right: 10px solid #f5e9d4;
}

.step-1-ball-bar{
  display: flex;
  flex-direction: column;

}

.step-1-right{
  height: 256.35px;
  width: 43%;
}

.step-1-search div{
  font-size: 14px;
  color: #808080;
  font-family: 'Open Sans', sans-serif;
}

.step-1-ball-2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fdf6ea;
  border: 6px solid #f5e9d4;
}

.step-1-bar-2{
  width: 10px;
  height: 150px;
  border-right: 10px solid #f5e9d4;
}

.step-2{
  display: flex;
  justify-content: space-between;
}

.step-2-right{
  height: 176.35px;
  width: 43.70%;
}

.step-2-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.step-2-left h5{
  color: #DA853D;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0;
}

.step-3{
  display: flex;
  justify-content: space-between;
  height: 160.35px;
}

.step-3-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
}

.step-3-left h5{
  color: #DA853D;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0;
}


